<h1>Home</h1>

{{#each products}}
  <h2>{{products.title}}</h2>
  <p>Id: {{products.id}}</p>
  <p>Description: {{products.description}}</p>
  <p>Price: ${{products.price}}</p>
  <p>Img: {{products.thumbnail}}</p>
  <p>Code: {{products.code}}</p>
  <p>Stock: {{products.stock}}</p>
{{/each}}