<H1>USUARIO</H1>
<div class="navbar">
    <div class="user-info">
        <p>Bienvenido, {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>        
        <p>Cart id: {{user.cart}}</p>
        <p>Rol: {{user.role}}</p>
        <a href="/api/sessions/logout"><button>logout</button></a>
    </div>
</div>

<h2>Cart</h2>
{{#each cart.products}}
    <p>{{this.product.description}} quantity {{this.quantity}} ${{this.product.price}}<button onclick="deleteFromCart('{{../user.cart}}','{{this.product._id}}')">remove</button> </p>

{{/each}}
<button onclick="purchaseCart('{{user.cart}}')">Purchase Cart</button>

<h2>PRODUCTOS</h2>

<div class="products-container">
    {{#each products}}
        <div class="product-card">
            <a href="/products/{{this._id}}"><h3>{{this.title}}</h3></a>
            <p>{{this.description}}</p>
            <small>{{this._id}}</small>
            <p>price: {{this.price}}</p>
            <p>stock: {{this.stock}}</p>
            <button onclick="addToCart('{{../user.cart}}','{{this._id}}')">Add to cart</button>
        </div>
    {{/each}}
</div>


<div >
    {{#if hasPrevPage}}
        <a href="{{prevLink}}"><button >Prev</button></a>
    {{else}}
        <button disabled>Prev</button>
    {{/if}}

    {{#if hasNextPage}}
   
        <a href="{{nextLink}}"><button >Next</button></a>
    </button>
    {{else}}
        <button class='btnPageDisabled' disabled>Next</button>
    {{/if}}
</div>

<script src="/js/products.js"></script>