<h1> Bienvenido, {{user.name}} </h1>
<p>Te logueaste como:
  {{user.email}}
  <a href="/api/sessions/logout"><button>Logout</button></a>
</p>
<p>Tu edad es de {{user.age}} años</p>
<p>Tu rol es: {{user.role}}</p>

<h2> Productos </h2>
{{#each products}}
  <div>
    <h2>{{products.title}}</h2>
    <p>{{products.description}}</p>
    <p>Price: ${{products.price}}</p>
    <p>Category: {{products.category}} </p>
    <button> Agregar al Carrito </button>
  </div>
{{/each}}

{{#if hasNextPage}}
  <a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}}
{{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}} </p>